.item{
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 5%;
  transition: background-color 0.2s, opacity 0.2s;
}

.item::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 5%;
  }

  .remove-icon {
    width: 15px;
    height: 15px;
    top: 25px;
    right: 30px;
    border-radius: 50%;
    position: absolute;
    background-size: auto 100%;
    background-image: url('../../sprite_delete-icon.png');
    background-repeat: no-repeat;
    z-index: 2;
    cursor:pointer;
  }
  .cart-img{
    vertical-align: top;
    width: 100%;
    margin-right: 30px;
    display: inline-block;
  }
  .cart-img .img {
    width: 100%;
    height: auto;
  }
  .remove-icon:hover {
    background-position-x: -15px;
   
  }

  .cart-img {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: left;
  }
  .cart-img .title {
    color: #ececec;
    margin: 0;
  }
  
 