.product-item{
  width: 20%;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid transparent;
}
.product-add-btn{
    background-color: #1b1a20;
    color: #fff;
    padding: 12px 0;
    margin-top: 10px;
}